form {
  background-color: white;
  border-radius: 1ex;
  box-shadow: 0 20px 40px 0 hsla(0, 0%, 0%, .2),
              0 10px 20px 0 hsla(0, 0%, 0%, .14),
              0 05px 10px 0 hsla(0, 0%, 0%, .12);
  box-sizing: border-box;
  color: black !important;
  display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    place-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  padding: 1rem 0;
  position: fixed;
    bottom: 2rem;
    left: 2rem;
  min-width: max-content;
}

  form > * {
    box-sizing: inherit;
    grid-column: 2;
  }

  fieldset {
    width: 100%;
    margin-bottom: .5rem;
  }

  label {
    display: flex;
    align-items: center;
  }

    label.disabled { opacity: .7; }

  input[type="radio"],
  input[type="checkbox"] {
    margin-right: .5rem;
  }

  input[type="number"] {
    margin-left: auto;
  }

  input[type="number"],
  select {
    padding: 2px 4px;
  }

  select {
    margin-left: 0;
    min-width: max-content;
    width: 100%;
    margin-top: .25rem;
  }

  .form__publications input,
  .form__reports input {
    margin-left: 0;
    order: -1;
  }

  .form__post-count label {
    align-items: baseline;
  }

  .form__publications label,
  .form__reports label {
    align-items: center;
  }

  .form__buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: .25rem;
  }

  button {
    display: flex;
    align-items: center;
    gap: .375rem;
    font-family: inherit;
    line-height: 21px;
    padding: 1px 6px;
  }

  button[disabled] svg > * {
    stroke: -internal-light-dark;
  }

  button[name="reset"] {
    margin-right: auto;
  }

  button #icon--loading {
    display: none;
  }

  button.loading #icon--loading {
    display: block;

    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: spin;
  }

  button.loading #icon--loaded {
    display: none;
  }

.form__reports label:nth-of-type(2) {
  align-items: baseline;
  flex-direction: column;
  margin-top: .25rem;
  opacity: .7;
}

form.show-reports .form__reports label:nth-of-type(2) {
  opacity: 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
